<div class="row">
    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading">Contacts  <a href="#">
                <button class="btn btn-success btn-xs pull-right">New Recipe</button></a></div>
            <div class="panel-body">
                <a 
                    href="#" 
                    class="list-group-item clearfix" 
                    *ngFor="let contact of contacts">
                        <div class="pull-left">
                            <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                        </div>
                        <span class="pull-right">
                            <img 
                                [src]="contact.imagePath"
                                alt="{{ contact.name }}" 
                                class="img-responsive" 
                                style="max-height: 50px">
                        </span>
                </a>
                <a 
                    href="#" 
                    class="list-group-item clearfix" 
                    *ngFor="let contact of contacts">
                        <div class="pull-left">
                            <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                        </div>
                        <span class="pull-right">
                            <img 
                                [src]="contact.imagePath"
                                alt="{{ rcontact.name }}" 
                                class="img-responsive" 
                                style="max-height: 50px">
                        </span>
                </a>
            </div>
          </div>

</div>
<hr />

