<div class="row">
    <div class="panel-group margin">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ contact.name }} </h3>
                <div class="flex">
                    <img 
                    src={{contact.imageUrl}}
                    alt="{{ contact.name }}" 
                    class="img-responsive" 
                    style="max-height: 50px">
                    <div>
                        <a href="#"><button class="btn btn-primary btn-xs">Edit</button></a>
                        <a href="#"><button class="btn btn-danger btn-xs margin-l">Delete</button></a>
                    </div>
                   
                </div>
               
            </div>
                <div class="panel-body">
                <a 
                    href="#" 
                    class="list-group-item clearfix" 
                   >
                        <div class="pull-left">
                            <h5>Email:</h5>
                            <h5>Phone:</h5>
                   
                        </div>
                        <span class="pull-right">
                            <img 
                                src={{contact.imageUrl}}
                                alt="{{ contact.name }}" 
                                class="img-responsive" 
                                style="max-height: 50px">
                        </span>
                </a>
            </div>
          </div>

</div>