
<div class="container text-center">
    <h2 class="text-center m-3 fs-2 text-info-emphasis
    ">Theatre Allocation</h2>
    <h3 class="text-center fs-6 mb-3">{{ myFormattedDate }}</h3>
    <button class="btn btn-success mb-5 center" [routerLink]="['new']">Create Allocation</button>
</div>

    <div class="container-fluid flex f-center">
        <!-- card start -->
        <div class="card m-2" style="width: 18rem;" *ngFor="let allocation of allocations$ | async">
            <div class="card-body">
                <h4 class="card-title"><span class="upper">Theatre {{ allocation.theatreNum }}:</span><br> <span class="title">{{ allocation.list }} - {{ allocation.type }}</span></h4>
                <hr/>
                <table class="table">
                <tbody>
                    <tr class="flex">
                    <th scope="row" class="list">Doctor:</th>
                        <td class="list ml-5">{{ allocation.doctor }}</td>
                        </tr>
                        <tr class="flex">
                        <th class="list"scope="row">{{ allocation.staff1 }}:</th>
                        <td class="list ml-5">{{ allocation.name1 }}</td>
                        </tr>
                        <tr class="flex">
                        <th scope="row"  class="list">{{ allocation.staff2 }}:</th>
                        <td class="list ml-5">{{ allocation.name2 }}</td>

                        </tr>
                    </tbody>
                    </table>
                    
                    <button class="btn btn-primary me-1" [routerLink]="['edit/', allocation._id]">Edit</button>
                    <button class="btn btn-danger" (click)="deleteAllocation(allocation._id || '')">Delete</button>
            </div>
             <!-- card end -->
    </div>

    </div><!-- end of container -->