.nav-text{
    font-size: 1.2em;
    color: black;
}

.nav-text a:hover{
    color: white;
    background-color: rgb(109, 120, 147);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-text a:after{
    color: black;
}